In [12]:
data[1].head()

,Date,Albania Sessions,Algeria Sessions,Angola Sessions,Anguilla Sessions,Antigua and Barbuda Sessions,Argentina Sessions,Armenia Sessions,Australia Sessions,Austria Sessions,...,United Arab Emirates Active Last 30 Days,United Kingdom Active Last 30 Days,United States Active Last 30 Days,Uruguay Active Last 30 Days,Uzbekistan Active Last 30 Days,Venezuela Active Last 30 Days,Vietnam Active Last 30 Days,"Virgin Islands, British Active Last 30 Days",Yemen Active Last 30 Days,Zimbabwe Active Last 30 Days
0,4/1/15,-,-,-,-,-,-,-,0.0,-,...,0.0,0.0,0.0,-,-,-,-,-,-,-
1,4/2/15,-,-,-,-,-,-,-,0.0,-,...,0.0,0.0,1.0,-,-,-,-,-,-,-
2,4/3/15,-,-,-,-,-,-,-,0.0,-,...,0.0,0.0,1.0,-,-,-,-,-,-,-
3,4/4/15,-,-,-,-,-,-,-,0.0,-,...,0.0,0.0,1.0,-,-,-,-,-,-,-
4,4/5/15,-,-,-,-,-,-,-,0.0,-,...,0.0,0.0,1.0,-,-,-,-,-,-,-